#!/bin/bash

INSTALL_DIRECTORY <%INSTALL_DIRECTORY%>
LOG_DIRECTORY <%LOG_DIRECTORY%>
USERNAME <%USERNAME%>
USERGROUP <%USERGROUP%>
GAME_ID <%GAME_ID%>

PORT_SERVER <%PORT_SERVER%>
PORT_RELIABLE <%PORT_RELIABLE%>
AUTO_UPDATE <%AUTO_UPDATE%>