#!/bin/bash

INSTALL_DIRECTORY <%INSTALL_DIRECTORY%>
LOG_DIRECTORY <%LOG_DIRECTORY%>
USERNAME <%USERNAME%>
USERGROUP <%USERGROUP%>
GAME_ID <%GAME_ID%>

PORT_SERVER <%PORT_SERVER%>
PORT_BEACON <%PORT_BEACON%>
PORT_QUERY <%PORT_QUERY%>
AUTO_UPDATE <%AUTO_UPDATE%>